apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argo

resources:
- argo.namespace.yaml
- argo-wf-server-ui.mapping.yaml 
- https://github.com/argoproj/argo-workflows/releases/download/v4.0.1/install.yaml
- workflow-executor.serviceaccount.yaml
- executor.cluster-role.yaml
- executor.cluster-rolebinding.yaml

patches:
- path: argo-wf-overrides.yaml  
  target:
    group: apps
    version: v1
    kind: Deployment
    name: argo-server
- path: workflow-controller-configmap.yaml



#configMapGenerator:
#  - name: workflow-controller-configmap
#    namespace: argo
#    behavior: merge
#    files:
#      - config=workflow-controller-config.yaml

generatorOptions:
  disableNameSuffixHash: true      
