apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: grafana

resources:
- github.com/grafana-operator/grafana-operator/deploy/kustomize/overlays/cluster_scoped
- grafana-main.grafana.yaml
- grafana-main-mapping.yaml
- victoria-metrics.grafanadatasource.yaml
- victoria-metrics.grafanadashboard.yaml 
- victoria-logs.grafanadashboard.yaml
- vm-agent.grafanadashboard.yaml 
- vm-operator.grafanadashboard.yaml 
- kubernetes.grafanadashboard.yaml
- kubernetes-global-view.grafanadashboard.yaml
- kubernetes-cluster-overview.grafanadashboard.yaml
- argo-cd.grafanadashboard.yaml

images:
  - name: ghcr.io/grafana-operator/grafana-operator
    newTag: v5.21.4
  - name: grafana/grafana-oss
    newTag: "12.3.2"
