apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: victoria-metrics

resources:
- github.com/VictoriaMetrics/operator/config/default?ref=v0.66.1
- pushgateway.mapping.yaml
- pushgateway.deployment.yaml
- pushgateway.service.yaml
- pushgateway.vmservicescrape.yaml
- ca-node-scrape.vmnodescrape.yaml
- node-scrape.vmnodescrape.yaml

images:
- name: manager
  newName: victoriametrics/operator
  newTag: v0.66.1
- name: prom/pushgateway
  newTag: v1.11.2
