apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argo-events
resources:
- argo-events-namespace.yaml  
- https://github.com/argoproj/argo-events/releases/download/v1.9.9/install.yaml 
- https://github.com/argoproj/argo-events/releases/download/v1.9.9/install-validating-webhook.yaml 
- https://raw.githubusercontent.com/argoproj/argo-events/stable/examples/eventbus/native.yaml 
